# Special files
.github
.gitignore
.vscodeignore

# Documentation files
docs/
*.txt
commands/README.md
languages/README.md

# .vscode configurations
.vscode/

# Todo files
todo

# Prevent js and json files from being ignored
!*.js
!*.json

# Ignore decompressed browser file
browser/index.js