# Special files
.github
.gitignore
.vscodeignore

# Documentation files
docs/
*.txt
commands/README.md
languages/README.md

# .vscode configurations
.vscode/

# Todo files
todo

# Prevent js and json files from being ignored
!*.js
!*.json

# Temporarily ignore commands/image.js https://github.com/aroary/lorem_ipsum/issues/41#issuecomment-1079821811
commands/image.js