body {
    background-color: #0d1117;
}

#content {
    margin: auto;
    width: fit-content;
}

table {
    background-color: #0d1117;
    color: #c9d1d9;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    border-radius: 10px;
    width: 100%;
    margin: auto;
}

table a {
    text-decoration: none;
    color: #c9d1d9;
}

table img {
    width: 100px;
}

#logo, #links {
    width: 200px;
    text-align: center;
}

#install, #contribute {
    background-color: green;
    color: white;
    border: 1px solid #c9d1d980;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
}

#install:hover, #contribute:hover {
    background-color: darkgreen;
}

#install a, #contribute a {
    text-decoration: none;
    color: white;
}

#readme-data {
    background-color: #0d1117;
    color: #c9d1d9;
    border: 1px solid #c9d1d980;
    border-radius: 10px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    max-width: 1000px;
    margin: auto;
    padding-left: 48px;
    padding-right: 48px;
}

#readme-data a {
    text-decoration: none;
    color: #58a6ff;
}

#readme-data kbd {
    border: 1px solid #c9d1d980;
    border-radius: 8px;
    padding: 2px;
}